 html {
  height: 100%;
}

.title {
  width: 90%;
  font-family: 'Slabo 27px', serif;
  background: gray;
  margin-left: 5%;
  text-align: center;
  border-bottom: black 2px solid;
  border-left: black 2px solid;
  border-right: black 2px solid;
}

.title-container {
  padding-top: 5%;
  width: 90%;
  margin-left: 22.5%;
}

.article-container {
  padding-top: 2.5%;
  margin-left: 2%;
  margin-right: 2%;
  width: 90%;
  margin-left: 22.5%;
}

.gamasutra-title {
  text-align: center;
  font-family: 'Slabo 27px', serif;
  width: 20%;
  display: inline-block;
  border: 2px black solid;
  margin-left: 7.5%;
  background: orange;
}

    .gamasutra-articles {
      width: 20%;
      text-align: center;
      display: inline-block;
      margin-left: 7.5%;
      vertical-align: top;
    }

.gameInfomer-title {
  text-align: center;
  font-family: 'Slabo 27px', serif;
  width: 20%;
  display: inline-block;
  border: 2px black solid;
  background: orange;
}

    .gameInfomer-articles {
      width: 20%;
      text-align: center;
      display: inline-block;
      vertical-align: top;
    }

.gamesRadar-title {
  text-align: center;
  font-family: 'Slabo 27px', serif;
  width: 20%;
  display: inline-block;
  border: 2px black solid;
  background: orange;
}

    .gamesRadar-articles {
      width: 20%;
      text-align: center;
      display: inline-block;
      vertical-align: top;
    }

.polygon-title {
  text-align: center;
  font-family: 'Slabo 27px', serif;
  width: 20%;
  display: inline-block;
  border: 2px black solid;
  background: orange;
}

    .polygon-articles {
      width: 20%;
      text-align: center;
      display: inline-block;
      vertical-align: top;
    }

.article {
  border: 2px solid black;
  border-radius: 20px;
  padding: 2.5%;
  margin-bottom: 5%;
  background: darkgray;
  height: 200px;
  text-transform: capitalize;
  display: table;
}

.header {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Slabo 27px', serif;
}

.article a {
  color: black;
  text-decoration: none;
}

.article a:hover {
  color: white;
  text-decoration: none;
}

footer {
  width: 100%;
  background: gray;
  overflow: auto;
  border-top: 2px solid black;
}

    footer p {
      display: inline-block;
      float: left;
      width: 30%;
      text-align: center;
      margin-top: 1%;
      color: black;
    }

    footer ul {
      width: 40%;
      float: right;
      text-align: center;
      margin-top: 1%;
    }

    footer ul li {
      text-decoration: none;
      display: inline-block;
      text-align: center;
      width: 12%;
      text-align: center;
      border: black 2px solid;
      background: orange;
    }

        footer li a {
          text-decoration: none;
          color: black;
          text-align: center;
        }

        footer li a:hover {
          color: white;
          text-decoration: none;
        }
